#App {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#App .container {
  width: 40%;
  min-width: 40rem;
  max-width: 75rem;
  padding: 4rem 0;
  box-sizing: border-box;
}

#App hr {
  margin: 2rem 0;
}

#App .doors {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#App .door {
  flex: 1;
  border-radius: 1rem;
  border: 1px solid black;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 12rem;
  cursor: pointer;
}

